@font-face {
	font-family: 'contatta';
	src:url('fonts/contatta.eot');
	src:url('fonts/contatta.eot?#iefix') format('embedded-opentype'),
		url('fonts/contatta.svg#contatta') format('svg'),
		url('fonts/contatta.woff') format('woff'),
		url('fonts/contatta.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'contatta';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'contatta';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}*/
[class^="icon-"], a[class^="icon-"] {
 font-family: 'contatta';
 font-style: normal !important; /* so italics don't cascade down */
 speak: none;
 font-weight: normal;
 color:  rgba(255,255,255,.7);/*$icon;*/
 font-size: 12px; 
 display: inline-block;
 -webkit-font-smoothing: antialiased;
 //vertical-align: middle; Note - add instead where it's needed
  width: 1em; //The below came from our previous font/icons... experimenting with adding these back in so background images can be used
  margin-right: .1em;
  text-align: center; 
  text-shadow: 0 1px 1px rgba(0,0,0,.1);

  &::selection {
    background-color: transparent;
  }

  & a { // Make sure this still applies
    color: rgba(255,255,255,.7); /*$icon;*/
  }
}
.icon-close:before {
	content: "\2612";
}
.icon-plus:before {
	content: "\2795";
}
.icon-minus:before {
	content: "\2796";
}
.icon-quote:before {
	content: "\275e";
}
.icon-help:before {
	content: "\2370";
}
.icon-info-circle:before {
	content: "\261d";
}
.icon-dots-three:before {
	content: "\e015";
}
.icon-popout:before {
	content: "\21f1";
}
.icon-film:before {
	content: "\25b7";
}
.icon-new:before {
	content: "\e019";
}
.icon-search:before {
	content: "\26b2";
}
.icon-zoom-in:before {
	content: "\e034";
}
.icon-zoom-out:before {
	content: "\e035";
}
.icon-google-plus:before {
	content: "\e03e";
}
.icon-skype:before {
	content: "\e03f";
}
.icon-linkedin:before {
	content: "\e040";
}
.icon-facebook-plain:before {
	content: "\e00a";
}
.icon-twitter-plain:before {
	content: "\e04c";
}
.icon-more-right:before {
	content: "\2771";
}
.icon-arrow-left:before {
	content: "\2b05";
}
.icon-arrow-down:before {
	content: "\2b07";
}
.icon-arrow-up:before {
	content: "\2b06";
}
.icon-arrow-right:before {
	content: "\2794";
}
.icon-arrow-left-circle:before {
	content: "\21e0";
}
.icon-arrow-down-circle:before {
	content: "\21e3";
}
.icon-arrow-up-circle:before {
	content: "\21e1";
}
.icon-arrow-right-circle:before {
	content: "\21e2";
}
.icon-play-video:before {
	content: "\25b6";
}
.icon-camera-video:before {
	content: "\e020";
}
.icon-check:before {
	content: "\2611";
}
.icon-triangle-right:before {
	content: "\2b17";
}
.icon-triangle-left:before {
	content: "\2b16";
}
.icon-triangle-down:before {
	content: "\2b19";
}
.icon-feed:before {
	content: "\e037";
}
.icon-triangle-up:before {
	content: "\2b18";
}
.icon-more-left:before {
	content: "\2770";
}
.icon-cart:before {
	content: "\e033";
}
.icon-support:before {
	content: "\2388";
}
.icon-link:before {
	content: "\260d";
}
.icon-blocked:before {
	content: "\2300";
}
.icon-youtube:before {
	content: "\e001";
}
.icon-mail:before {
	content: "\2709";
}
